<div class="body">
<div class="container">
  <div class="text-center">
<h1 class="about-top">soloistとは</h1>
<p class="about-text">ぼっち、孤独とは違い</p>
<p class="about-text">ヒトリを満喫する大人たち。</p>
<p class="about-text">そんな"soloist"に</p>
<p class="about-text">向けたグルメレビューサイト</p>
</div>
</div>
</div>
<script type="text/javascript">
  $(function() {
  // 一旦hide()で隠してフェードインさせる
  $('h1').hide().fadeIn(2000);
  $('p').hide().fadeIn(3000);
});
</script>