<div class="footer text-center">
  <div class="snsicons">
  <div class="sns">SNSで最新情報発信中</div>
<a  href="#" class="icon"><i class="fa fa-twitter"></i></a>
<a href="#" class="icon"><i class="fa fa-instagram"></i></a>
<a href="#" class="icon"><i class="fa fa-facebook"></i></a>
<div>©2020 soloist</div>
</div>